In [4]:
import findspark
findspark.init('/home/ubuntu/spark-3.2.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('basics').getOrCreate()

import pandas as pd

In [5]:
df = spark.read.csv('train.csv')
df_pd = pd.read_csv('train.csv')

# Data Exploration

In [6]:
df.show()

df.columns

+-------------------+------+-------+----------+-------+-----+------+--------+---------+------+----------+-----+
|                _c0|   _c1|    _c2|       _c3|    _c4|  _c5|   _c6|     _c7|      _c8|   _c9|      _c10| _c11|
+-------------------+------+-------+----------+-------+-----+------+--------+---------+------+----------+-----+
|           datetime|season|holiday|workingday|weather| temp| atemp|humidity|windspeed|casual|registered|count|
|2011-01-01 00:00:00|     1|      0|         0|      1| 9.84|14.395|      81|        0|     3|        13|   16|
|2011-01-01 01:00:00|     1|      0|         0|      1| 9.02|13.635|      80|        0|     8|        32|   40|
|2011-01-01 02:00:00|     1|      0|         0|      1| 9.02|13.635|      80|        0|     5|        27|   32|
|2011-01-01 03:00:00|     1|      0|         0|      1| 9.84|14.395|      75|        0|     3|        10|   13|
|2011-01-01 04:00:00|     1|      0|         0|      1| 9.84|14.395|      75|        0|     0|         1|    1|
|2011-01-01 05:00:00|     1|      0|         0|      2| 9.84| 12.88|      75|   6.0032|     0|         1|    1|
|2011-01-01 06:00:00|     1|      0|         0|      1| 9.02|13.635|      80|        0|     2|         0|    2|
|2011-01-01 07:00:00|     1|      0|         0|      1|  8.2| 12.88|      86|        0|     1|         2|    3|
|2011-01-01 08:00:00|     1|      0|         0|      1| 9.84|14.395|      75|        0|     1|         7|    8|
|2011-01-01 09:00:00|     1|      0|         0|      1|13.12|17.425|      76|        0|     8|         6|   14|
|2011-01-01 10:00:00|     1|      0|         0|      1|15.58|19.695|      76|  16.9979|    12|        24|   36|
|2011-01-01 11:00:00|     1|      0|         0|      1|14.76|16.665|      81|  19.0012|    26|        30|   56|
|2011-01-01 12:00:00|     1|      0|         0|      1|17.22| 21.21|      77|  19.0012|    29|        55|   84|
|2011-01-01 13:00:00|     1|      0|         0|      2|18.86|22.725|      72|  19.9995|    47|        47|   94|
|2011-01-01 14:00:00|     1|      0|         0|      2|18.86|22.725|      72|  19.0012|    35|        71|  106|
|2011-01-01 15:00:00|     1|      0|         0|      2|18.04| 21.97|      77|  19.9995|    40|        70|  110|
|2011-01-01 16:00:00|     1|      0|         0|      2|17.22| 21.21|      82|  19.9995|    41|        52|   93|
|2011-01-01 17:00:00|     1|      0|         0|      2|18.04| 21.97|      82|  19.0012|    15|        52|   67|
|2011-01-01 18:00:00|     1|      0|         0|      3|17.22| 21.21|      88|  16.9979|     9|        26|   35|
+-------------------+------+-------+----------+-------+-----+------+--------+---------+------+----------+-----+
only showing top 20 rows

['_c0',
 '_c1',
 '_c2',
 '_c3',
 '_c4',
 '_c5',
 '_c6',
 '_c7',
 '_c8',
 '_c9',
 '_c10',
 '_c11']

In [7]:
# rename columns 
df = df.withColumnRenamed('_c0', 'datetime')
df = df.withColumnRenamed('_c1', 'season')
df = df.withColumnRenamed('_c2', 'holiday')
df = df.withColumnRenamed('_c3', 'workday')
df = df.withColumnRenamed('_c4', 'weather')
df = df.withColumnRenamed('_c5', 'temp')
df = df.withColumnRenamed('_c6', 'atemp')
df = df.withColumnRenamed('_c7', 'humidity')
df = df.withColumnRenamed('_c8', 'windspeed')
df = df.withColumnRenamed('_c9', 'casual')
df = df.withColumnRenamed('_c10', 'registered')
df = df.withColumnRenamed('_c11', 'count')

df.show()

+-------------------+------+-------+----------+-------+-----+------+--------+---------+------+----------+-----+
|           datetime|season|holiday|   workday|weather| temp| atemp|humidity|windspeed|casual|registered|count|
+-------------------+------+-------+----------+-------+-----+------+--------+---------+------+----------+-----+
|           datetime|season|holiday|workingday|weather| temp| atemp|humidity|windspeed|casual|registered|count|
|2011-01-01 00:00:00|     1|      0|         0|      1| 9.84|14.395|      81|        0|     3|        13|   16|
|2011-01-01 01:00:00|     1|      0|         0|      1| 9.02|13.635|      80|        0|     8|        32|   40|
|2011-01-01 02:00:00|     1|      0|         0|      1| 9.02|13.635|      80|        0|     5|        27|   32|
|2011-01-01 03:00:00|     1|      0|         0|      1| 9.84|14.395|      75|        0|     3|        10|   13|
|2011-01-01 04:00:00|     1|      0|         0|      1| 9.84|14.395|      75|        0|     0|         1|    1|
|2011-01-01 05:00:00|     1|      0|         0|      2| 9.84| 12.88|      75|   6.0032|     0|         1|    1|
|2011-01-01 06:00:00|     1|      0|         0|      1| 9.02|13.635|      80|        0|     2|         0|    2|
|2011-01-01 07:00:00|     1|      0|         0|      1|  8.2| 12.88|      86|        0|     1|         2|    3|
|2011-01-01 08:00:00|     1|      0|         0|      1| 9.84|14.395|      75|        0|     1|         7|    8|
|2011-01-01 09:00:00|     1|      0|         0|      1|13.12|17.425|      76|        0|     8|         6|   14|
|2011-01-01 10:00:00|     1|      0|         0|      1|15.58|19.695|      76|  16.9979|    12|        24|   36|
|2011-01-01 11:00:00|     1|      0|         0|      1|14.76|16.665|      81|  19.0012|    26|        30|   56|
|2011-01-01 12:00:00|     1|      0|         0|      1|17.22| 21.21|      77|  19.0012|    29|        55|   84|
|2011-01-01 13:00:00|     1|      0|         0|      2|18.86|22.725|      72|  19.9995|    47|        47|   94|
|2011-01-01 14:00:00|     1|      0|         0|      2|18.86|22.725|      72|  19.0012|    35|        71|  106|
|2011-01-01 15:00:00|     1|      0|         0|      2|18.04| 21.97|      77|  19.9995|    40|        70|  110|
|2011-01-01 16:00:00|     1|      0|         0|      2|17.22| 21.21|      82|  19.9995|    41|        52|   93|
|2011-01-01 17:00:00|     1|      0|         0|      2|18.04| 21.97|      82|  19.0012|    15|        52|   67|
|2011-01-01 18:00:00|     1|      0|         0|      3|17.22| 21.21|      88|  16.9979|     9|        26|   35|
+-------------------+------+-------+----------+-------+-----+------+--------+---------+------+----------+-----+
only showing top 20 rows

In [8]:
#Filter out initial row as it is column lable 
df = df.filter(df.datetime!='datetime')

df.show()

df.columns

+-------------------+------+-------+-------+-------+-----+------+--------+---------+------+----------+-----+
|           datetime|season|holiday|workday|weather| temp| atemp|humidity|windspeed|casual|registered|count|
+-------------------+------+-------+-------+-------+-----+------+--------+---------+------+----------+-----+
|2011-01-01 00:00:00|     1|      0|      0|      1| 9.84|14.395|      81|        0|     3|        13|   16|
|2011-01-01 01:00:00|     1|      0|      0|      1| 9.02|13.635|      80|        0|     8|        32|   40|
|2011-01-01 02:00:00|     1|      0|      0|      1| 9.02|13.635|      80|        0|     5|        27|   32|
|2011-01-01 03:00:00|     1|      0|      0|      1| 9.84|14.395|      75|        0|     3|        10|   13|
|2011-01-01 04:00:00|     1|      0|      0|      1| 9.84|14.395|      75|        0|     0|         1|    1|
|2011-01-01 05:00:00|     1|      0|      0|      2| 9.84| 12.88|      75|   6.0032|     0|         1|    1|
|2011-01-01 06:00:00|     1|      0|      0|      1| 9.02|13.635|      80|        0|     2|         0|    2|
|2011-01-01 07:00:00|     1|      0|      0|      1|  8.2| 12.88|      86|        0|     1|         2|    3|
|2011-01-01 08:00:00|     1|      0|      0|      1| 9.84|14.395|      75|        0|     1|         7|    8|
|2011-01-01 09:00:00|     1|      0|      0|      1|13.12|17.425|      76|        0|     8|         6|   14|
|2011-01-01 10:00:00|     1|      0|      0|      1|15.58|19.695|      76|  16.9979|    12|        24|   36|
|2011-01-01 11:00:00|     1|      0|      0|      1|14.76|16.665|      81|  19.0012|    26|        30|   56|
|2011-01-01 12:00:00|     1|      0|      0|      1|17.22| 21.21|      77|  19.0012|    29|        55|   84|
|2011-01-01 13:00:00|     1|      0|      0|      2|18.86|22.725|      72|  19.9995|    47|        47|   94|
|2011-01-01 14:00:00|     1|      0|      0|      2|18.86|22.725|      72|  19.0012|    35|        71|  106|
|2011-01-01 15:00:00|     1|      0|      0|      2|18.04| 21.97|      77|  19.9995|    40|        70|  110|
|2011-01-01 16:00:00|     1|      0|      0|      2|17.22| 21.21|      82|  19.9995|    41|        52|   93|
|2011-01-01 17:00:00|     1|      0|      0|      2|18.04| 21.97|      82|  19.0012|    15|        52|   67|
|2011-01-01 18:00:00|     1|      0|      0|      3|17.22| 21.21|      88|  16.9979|     9|        26|   35|
|2011-01-01 19:00:00|     1|      0|      0|      3|17.22| 21.21|      88|  16.9979|     6|        31|   37|
+-------------------+------+-------+-------+-------+-----+------+--------+---------+------+----------+-----+
only showing top 20 rows

['datetime',
 'season',
 'holiday',
 'workday',
 'weather',
 'temp',
 'atemp',
 'humidity',
 'windspeed',
 'casual',
 'registered',
 'count']

In [9]:
#Dataframe Components Summary 

df.select("datetime", "season", 'holiday', 'workday').summary().show()
df.select('weather',"temp", "atemp", 'humidity', 'windspeed').summary().show()
df.select("casual", "registered", 'count',).summary().show()

+-------+-------------------+------------------+-------------------+------------------+
|summary|           datetime|            season|            holiday|           workday|
+-------+-------------------+------------------+-------------------+------------------+
|  count|              10886|             10886|              10886|             10886|
|   mean|               null|2.5066139996325556|0.02856880396839978|0.6808745177291935|
| stddev|               null|1.1161743093443237|0.16659885062470944|0.4661591687997361|
|    min|2011-01-01 00:00:00|                 1|                  0|                 0|
|    25%|               null|               2.0|                0.0|               0.0|
|    50%|               null|               3.0|                0.0|               1.0|
|    75%|               null|               4.0|                0.0|               1.0|
|    max|2012-12-19 23:00:00|                 4|                  1|                 1|
+-------+-------------------+------------------+-------------------+------------------+

+-------+------------------+------------------+-----------------+------------------+------------------+
|summary|           weather|              temp|            atemp|          humidity|         windspeed|
+-------+------------------+------------------+-----------------+------------------+------------------+
|  count|             10886|             10886|            10886|             10886|             10886|
|   mean| 1.418427337865148|20.230859819952173|23.65508405291192| 61.88645967297446|12.799395406945093|
| stddev|0.6338385858190968| 7.791589843987573| 8.47460062648494|19.245033277394704|  8.16453732683871|
|    min|                 1|              0.82|             0.76|                 0|                 0|
|    25%|               1.0|             13.94|           16.665|              47.0|            7.0015|
|    50%|               1.0|              20.5|            24.24|              62.0|            12.998|
|    75%|               2.0|             26.24|            31.06|              77.0|           16.9979|
|    max|                 4|              9.84|             9.85|                97|            8.9981|
+-------+------------------+------------------+-----------------+------------------+------------------+

+-------+-----------------+------------------+------------------+
|summary|           casual|        registered|             count|
+-------+-----------------+------------------+------------------+
|  count|            10886|             10886|             10886|
|   mean|36.02195480433584| 155.5521771082124|191.57413191254824|
| stddev|49.96047657264955|151.03903308192452|181.14445383028493|
|    min|                0|                 0|                 1|
|    25%|              4.0|              36.0|              42.0|
|    50%|             17.0|             118.0|             145.0|
|    75%|             49.0|             222.0|             284.0|
|    max|               99|                99|                99|
+-------+-----------------+------------------+------------------+

In [10]:
df.printSchema()

df_pd.info()

root
 |-- datetime: string (nullable = true)
 |-- season: string (nullable = true)
 |-- holiday: string (nullable = true)
 |-- workday: string (nullable = true)
 |-- weather: string (nullable = true)
 |-- temp: string (nullable = true)
 |-- atemp: string (nullable = true)
 |-- humidity: string (nullable = true)
 |-- windspeed: string (nullable = true)
 |-- casual: string (nullable = true)
 |-- registered: string (nullable = true)
 |-- count: string (nullable = true)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  object
 1   season      10886 non-null  int64
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   casual      10886 non-null  int64
 10  registered  10886 non-null  int64
 11  count       10886 non-null  int64
dtypes: float64(3), int64(8), object(1)
memory usage: 1020.7+ KB

# Data Manipulation

In [11]:
# Import in the relevant types.
from pyspark.sql.types import (StructField,StringType,IntegerType,StructType)
df.show()

+-------------------+------+-------+-------+-------+-----+------+--------+---------+------+----------+-----+
|           datetime|season|holiday|workday|weather| temp| atemp|humidity|windspeed|casual|registered|count|
+-------------------+------+-------+-------+-------+-----+------+--------+---------+------+----------+-----+
|2011-01-01 00:00:00|     1|      0|      0|      1| 9.84|14.395|      81|        0|     3|        13|   16|
|2011-01-01 01:00:00|     1|      0|      0|      1| 9.02|13.635|      80|        0|     8|        32|   40|
|2011-01-01 02:00:00|     1|      0|      0|      1| 9.02|13.635|      80|        0|     5|        27|   32|
|2011-01-01 03:00:00|     1|      0|      0|      1| 9.84|14.395|      75|        0|     3|        10|   13|
|2011-01-01 04:00:00|     1|      0|      0|      1| 9.84|14.395|      75|        0|     0|         1|    1|
|2011-01-01 05:00:00|     1|      0|      0|      2| 9.84| 12.88|      75|   6.0032|     0|         1|    1|
|2011-01-01 06:00:00|     1|      0|      0|      1| 9.02|13.635|      80|        0|     2|         0|    2|
|2011-01-01 07:00:00|     1|      0|      0|      1|  8.2| 12.88|      86|        0|     1|         2|    3|
|2011-01-01 08:00:00|     1|      0|      0|      1| 9.84|14.395|      75|        0|     1|         7|    8|
|2011-01-01 09:00:00|     1|      0|      0|      1|13.12|17.425|      76|        0|     8|         6|   14|
|2011-01-01 10:00:00|     1|      0|      0|      1|15.58|19.695|      76|  16.9979|    12|        24|   36|
|2011-01-01 11:00:00|     1|      0|      0|      1|14.76|16.665|      81|  19.0012|    26|        30|   56|
|2011-01-01 12:00:00|     1|      0|      0|      1|17.22| 21.21|      77|  19.0012|    29|        55|   84|
|2011-01-01 13:00:00|     1|      0|      0|      2|18.86|22.725|      72|  19.9995|    47|        47|   94|
|2011-01-01 14:00:00|     1|      0|      0|      2|18.86|22.725|      72|  19.0012|    35|        71|  106|
|2011-01-01 15:00:00|     1|      0|      0|      2|18.04| 21.97|      77|  19.9995|    40|        70|  110|
|2011-01-01 16:00:00|     1|      0|      0|      2|17.22| 21.21|      82|  19.9995|    41|        52|   93|
|2011-01-01 17:00:00|     1|      0|      0|      2|18.04| 21.97|      82|  19.0012|    15|        52|   67|
|2011-01-01 18:00:00|     1|      0|      0|      3|17.22| 21.21|      88|  16.9979|     9|        26|   35|
|2011-01-01 19:00:00|     1|      0|      0|      3|17.22| 21.21|      88|  16.9979|     6|        31|   37|
+-------------------+------+-------+-------+-------+-----+------+--------+---------+------+----------+-----+
only showing top 20 rows

In [12]:
#Split datetime varaible into Year, Month, Day and Hour
from pyspark.sql.functions import split

split_col = split(df['datetime'], '-')

df = df.withColumn('Year', split_col.getItem(0))
df = df.withColumn('Month', split_col.getItem(1))
df = df.withColumn('Day_Time', split_col.getItem(2))


split_col = split(df['Day_Time'], '\s+')
df = df.withColumn('Day', split_col.getItem(0))
df = df.withColumn('Hour', split_col.getItem(0))

df = df.drop('datetime')
df = df.drop('Day_Time')
df.show()

+------+-------+-------+-------+-----+------+--------+---------+------+----------+-----+----+-----+---+----+
|season|holiday|workday|weather| temp| atemp|humidity|windspeed|casual|registered|count|Year|Month|Day|Hour|
+------+-------+-------+-------+-----+------+--------+---------+------+----------+-----+----+-----+---+----+
|     1|      0|      0|      1| 9.84|14.395|      81|        0|     3|        13|   16|2011|   01| 01|  01|
|     1|      0|      0|      1| 9.02|13.635|      80|        0|     8|        32|   40|2011|   01| 01|  01|
|     1|      0|      0|      1| 9.02|13.635|      80|        0|     5|        27|   32|2011|   01| 01|  01|
|     1|      0|      0|      1| 9.84|14.395|      75|        0|     3|        10|   13|2011|   01| 01|  01|
|     1|      0|      0|      1| 9.84|14.395|      75|        0|     0|         1|    1|2011|   01| 01|  01|
|     1|      0|      0|      2| 9.84| 12.88|      75|   6.0032|     0|         1|    1|2011|   01| 01|  01|
|     1|      0|      0|      1| 9.02|13.635|      80|        0|     2|         0|    2|2011|   01| 01|  01|
|     1|      0|      0|      1|  8.2| 12.88|      86|        0|     1|         2|    3|2011|   01| 01|  01|
|     1|      0|      0|      1| 9.84|14.395|      75|        0|     1|         7|    8|2011|   01| 01|  01|
|     1|      0|      0|      1|13.12|17.425|      76|        0|     8|         6|   14|2011|   01| 01|  01|
|     1|      0|      0|      1|15.58|19.695|      76|  16.9979|    12|        24|   36|2011|   01| 01|  01|
|     1|      0|      0|      1|14.76|16.665|      81|  19.0012|    26|        30|   56|2011|   01| 01|  01|
|     1|      0|      0|      1|17.22| 21.21|      77|  19.0012|    29|        55|   84|2011|   01| 01|  01|
|     1|      0|      0|      2|18.86|22.725|      72|  19.9995|    47|        47|   94|2011|   01| 01|  01|
|     1|      0|      0|      2|18.86|22.725|      72|  19.0012|    35|        71|  106|2011|   01| 01|  01|
|     1|      0|      0|      2|18.04| 21.97|      77|  19.9995|    40|        70|  110|2011|   01| 01|  01|
|     1|      0|      0|      2|17.22| 21.21|      82|  19.9995|    41|        52|   93|2011|   01| 01|  01|
|     1|      0|      0|      2|18.04| 21.97|      82|  19.0012|    15|        52|   67|2011|   01| 01|  01|
|     1|      0|      0|      3|17.22| 21.21|      88|  16.9979|     9|        26|   35|2011|   01| 01|  01|
|     1|      0|      0|      3|17.22| 21.21|      88|  16.9979|     6|        31|   37|2011|   01| 01|  01|
+------+-------+-------+-------+-----+------+--------+---------+------+----------+-----+----+-----+---+----+
only showing top 20 rows

In [24]:
from pyspark.sql.types import StringType, IntegerType, FloatType, BooleanType

df = df.withColumn("season" ,df["season"].cast(IntegerType()))
df = df.withColumn("holiday" ,df["holiday"].cast(BooleanType()))
df = df.withColumn("workday" ,df["workday"].cast(BooleanType()))
df = df.withColumn("weather" ,df["weather"].cast(IntegerType()))
df = df.withColumn("temp" ,df["temp"].cast(FloatType()))
df = df.withColumn("atemp" ,df["atemp"].cast(FloatType()))
df = df.withColumn("humidity" ,df["humidity"].cast(IntegerType()))
df = df.withColumn("windspeed" ,df["windspeed"].cast(FloatType()))
df = df.withColumn("casual" ,df["casual"].cast(IntegerType()))
df = df.withColumn("registered" ,df["registered"].cast(IntegerType()))
df = df.withColumn("count" ,df["count"].cast(IntegerType()))
df = df.withColumn("Year" ,df["Year"].cast(IntegerType()))
df = df.withColumn("Month" ,df["Month"].cast(IntegerType()))
df = df.withColumn("Day" ,df["Day"].cast(IntegerType()))
df = df.withColumn("Hour" ,df["Hour"].cast(IntegerType()))


df.printSchema()

root
 |-- season: integer (nullable = true)
 |-- holiday: boolean (nullable = true)
 |-- workday: boolean (nullable = true)
 |-- weather: integer (nullable = true)
 |-- temp: float (nullable = true)
 |-- atemp: float (nullable = true)
 |-- humidity: integer (nullable = true)
 |-- windspeed: float (nullable = true)
 |-- casual: integer (nullable = true)
 |-- registered: integer (nullable = true)
 |-- count: integer (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Month: integer (nullable = true)
 |-- Day: integer (nullable = true)
 |-- Hour: integer (nullable = true)

In [25]:
df.show()

+------+-------+-------+-------+-----+------+--------+---------+------+----------+-----+----+-----+---+----+
|season|holiday|workday|weather| temp| atemp|humidity|windspeed|casual|registered|count|Year|Month|Day|Hour|
+------+-------+-------+-------+-----+------+--------+---------+------+----------+-----+----+-----+---+----+
|     1|  false|  false|      1| 9.84|14.395|      81|      0.0|     3|        13|   16|2011|    1|  1|   1|
|     1|  false|  false|      1| 9.02|13.635|      80|      0.0|     8|        32|   40|2011|    1|  1|   1|
|     1|  false|  false|      1| 9.02|13.635|      80|      0.0|     5|        27|   32|2011|    1|  1|   1|
|     1|  false|  false|      1| 9.84|14.395|      75|      0.0|     3|        10|   13|2011|    1|  1|   1|
|     1|  false|  false|      1| 9.84|14.395|      75|      0.0|     0|         1|    1|2011|    1|  1|   1|
|     1|  false|  false|      2| 9.84| 12.88|      75|   6.0032|     0|         1|    1|2011|    1|  1|   1|
|     1|  false|  false|      1| 9.02|13.635|      80|      0.0|     2|         0|    2|2011|    1|  1|   1|
|     1|  false|  false|      1|  8.2| 12.88|      86|      0.0|     1|         2|    3|2011|    1|  1|   1|
|     1|  false|  false|      1| 9.84|14.395|      75|      0.0|     1|         7|    8|2011|    1|  1|   1|
|     1|  false|  false|      1|13.12|17.425|      76|      0.0|     8|         6|   14|2011|    1|  1|   1|
|     1|  false|  false|      1|15.58|19.695|      76|  16.9979|    12|        24|   36|2011|    1|  1|   1|
|     1|  false|  false|      1|14.76|16.665|      81|  19.0012|    26|        30|   56|2011|    1|  1|   1|
|     1|  false|  false|      1|17.22| 21.21|      77|  19.0012|    29|        55|   84|2011|    1|  1|   1|
|     1|  false|  false|      2|18.86|22.725|      72|  19.9995|    47|        47|   94|2011|    1|  1|   1|
|     1|  false|  false|      2|18.86|22.725|      72|  19.0012|    35|        71|  106|2011|    1|  1|   1|
|     1|  false|  false|      2|18.04| 21.97|      77|  19.9995|    40|        70|  110|2011|    1|  1|   1|
|     1|  false|  false|      2|17.22| 21.21|      82|  19.9995|    41|        52|   93|2011|    1|  1|   1|
|     1|  false|  false|      2|18.04| 21.97|      82|  19.0012|    15|        52|   67|2011|    1|  1|   1|
|     1|  false|  false|      3|17.22| 21.21|      88|  16.9979|     9|        26|   35|2011|    1|  1|   1|
|     1|  false|  false|      3|17.22| 21.21|      88|  16.9979|     6|        31|   37|2011|    1|  1|   1|
+------+-------+-------+-------+-----+------+--------+---------+------+----------+-----+----+-----+---+----+
only showing top 20 rows